@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&family=Poppins:wght@400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

:root{
    --primary-color: #fff;
    --primary-shade: #f7f5f2;
    --seconday-color: #000;
    --secondary-shade: #4b4c4c;
    --red-color: #d40700;
    --red-shade: #b20600;
    --accent-color: #ffee63;
}

ul li{
    list-style: none;
}

a{
    text-decoration: none;
}

/* header section  */

header{
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(bg.jpg);
    background-size: cover;
    border-bottom: lawngreen 3px solid;
}
h2{
    color: whitesmoke;
}
h4{
    color: whitesmoke;
}
.nav-bar {
    padding: 30px 0;
}

span{
    color: lawngreen;
    font-size: 1em;
}

ul li a{
    margin: 0 10px;
    padding: 0 5px;
    color: whitesmoke;
    font-size: 18px;
    cursor: pointer;
    position: relative;
}

ul li a::before{
    content: '';
    width: 0;
    position: absolute;
    bottom: -5px;
    left: 0;
    height: 2px;
    background-color: lawngreen;
    transition: 0.6s ease;
}

ul li a:hover::before{
    width: 100%;
}

/* button  */

.btn{
    width: 100px;
    height: 40px;
    border-radius: 8px;
    background-color: #009000;
    color: whitesmoke;
    outline: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
    padding: 0 5px;
    font-weight: 500;
}

.btn:hover{
    background-color: var(--red-shade);
    color: var(--primary-shade);
    border: 2px solid var(--red-color);
}

/* header content  */

.content{
    height: 90vh;
    position: relative;
}

.content .right img{
    width: 120%;
    position: relative;
    z-index: 999;
    cursor: pointer;
    transition: 0.3s ease;
}

.content .right img:hover{
    filter: drop-shadow(16px 5px 20px burlywood);
    height: 300px;
    width: 100%;
}

h4, p{
    font-family: 'Poppins', sans-serif;
    color: whitesmoke;
}

.color-box{
    width: 560px;
    height: 480px;
    border: 5px solid lawngreen;
    transform: rotate(48deg);
    position: absolute;
    top: 50px;
    right: 5px;
}

/* about sec  */

.about-me-sec{
    min-height: 70vh;
    background-color: var(--secondary-shade);
    color: var(--primary-color);
}

.about-me-sec hr{
    border: 2px solid lawngreen;
    margin-bottom: 2rem;
}
.about-me-sec h3{
    color: darkorange;
}
.about-content img{
    width: 100%;
    transform: scaleX(-1);
}

.about-content ul{
    margin-top: 25px;
    margin-bottom: 10px;
}

.about-content span{
    color: #C6DCE4;
}
h3{
    color: #009000;
}
.dot{
    width: 22px;
    height: 22px;
    border-radius: 50%;
    display: inline-block;
    margin: 10px 5px;
    cursor: pointer;
}

.dot-w{
    background-color: whitesmoke;
}

.dot-b{
    background-color: lawngreen;
}

.dot-ws{
    background-color: #009000;
}
/* portfolio sec  */

.portfolio-sec{
    height: 70vh;
    background-color: darkgoldenrod;
}

.portfolio > h3{
    color: var(--primary-color);
    margin-bottom: 50px;
}

.portfolio-child img{
    width: 100%;
}

.portolio-parent{
    gap: 30px;
}

.portfolio-child{
    border: 2px solid lawngreen;
    border-radius: 8px;
    transition: 0.3s ease;
    cursor: pointer;
}

.portfolio-child:hover{
    transform: scale(1.1);
    background-color: darkgrey;
}

.portfolio-child h3{
    margin-top: 10px;
    color: lawngreen;
}

.portfolio-child p{
    margin-top: 5px;
    line-height: 1.4;
    text-align: left;
    padding-left: 10px;
    padding-bottom: 10px;
    color: whitesmoke;

}

.portfolio-child button{
    margin: 15px;
}

.contact-us-sec{
    background-color: darkgoldenrod;
    height: 70vh;
    padding: 1px;
}

.contact-us h3{
    color: var(--primary-color);
}

.contact-details{
    padding-top: 1rem;
}

.contact-details h5{
    font-size: 16px;
    font-weight: 600;
    margin: 10px 0;
}

#email-id{
    width: 226px;
    height: 28px;
    outline: none;
    border: none;
    border-radius: 8px;
    padding: 2px 12px;
}

.right-sec input{
    margin-left: 10px;
}

.right-sec button{
    margin-left: 35px;
    margin-top: 15px;
}

footer{
    background-color: #009000;
    padding: 10px 0;
}
footer p{
    color: whitesmoke;
    font-size: 15pt;
}
#click, .menu-btn i{
    display: none;
}


/* @media (max-width:768px){

    .nav-bar{
        flex-direction: column;
        position: relative;
        background-color: var(--secondary-shade);
        width: 100%;
        height: 100vh;
       
    }
 .nav-links ul{
    display: flex;
    flex-direction: column;
    gap: 12px;
   
    
 }
 .nav-links ul, .logo, .hire-me-btn{
    display: none;
 }

 .color-box{
    display: none;
 }

 .content{
    flex-direction: column;
    gap: 12px;
    width: 100%;
 }

 .menu-btn i{
    display: block;
   
 }

 .menu-btn{
    position: absolute;
    top: 30px;
    right: 10px;
 }
img {
    max-width: 100%;
    height: auto;
}@media (max-width: 768px) {
    body {
        background-color: lightblue;
    }
}

/* For screens larger than 768px (desktops) */
@media (min-width: 769px) {
    body {
        background-color: lightgreen;
    }
}
@media (max-width: 768px) {
    body {
        background-color: lightblue;
    }
}

/* For screens larger than 768px (desktops) */
@media (min-width: 769px) {
    body {
        background-color: lightgreen;
    }
}

    
} */
